# Node
/node_modules
/.pnp
.pnp.js

# ML Models (Do not upload large models)
*.pkl
*.keras
*.h5
*.joblib
*.pt
*.pth

# Virtual environments
venv/
__pycache__/

# Environment Variables
.envm-debug.log*

# Python
venv/
__pycache__/
*.pyc

# Environment
.env
.env.*

# Datasets
dataset/
datasets/
data/
train/
test/
images/
*.zip
*.rar
*.7z

# ML models
*.pth
*.pt
*.h5
*.keras
*.onnx
*.joblib
*.pkl

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Ignored datasets
ai-service/plantvillage dataset/