.navbar {
    min-height: 70px;
    padding: 15px 5%;
    background: white;
    border-bottom: 1px solid #e5e7eb;

    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 30px;
}

.navbar-logo {
    text-decoration: none;
    color: #287a3e;

    font-size: 24px;
    font-weight: 800;

    white-space: nowrap;
}

.navbar-links {
    display: flex;
    gap: 18px;
    align-items: center;

    overflow-x: auto;
}

.navbar-links a {
    text-decoration: none;
    color: #475569;

    font-size: 14px;
    font-weight: 600;

    white-space: nowrap;
}

.navbar-links a:hover {
    color: #287a3e;
}

@media (max-width: 900px) {
    .navbar {
        align-items: flex-start;
        flex-direction: column;
    }

    .navbar-links {
        width: 100%;
        padding-bottom: 5px;
    }
}